.btn {
  color: var(--theme-color);
  padding: 0.75em 1em;
  text-decoration: none;
  border: 1px solid var(--theme-color);
  border-radius: 4px;
  background-color: transparent;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: var(--tsm);
  outline: none;
  gap: 15px;
  transition: background-color 0.3s, color 0.3s;

  &:hover,
  &:focus {
    background-color: #58a6ff; // Lighter background on hover
    color: #0D1117; // Dark text on light background
    border-color: #0D1117;
  }
}



