.btn {
  color: var(--theme-color);
  padding: 0.75em 1em;
  text-decoration: none;
  border: 1px solid var(--theme-color);
  border-radius: 0;
  background-color: transparent;
  font-family: var(--code-font);
  font-size: var(--tsm);
  outline: none;
  gap: 15px;
  transition: background-color 0.25s ease, color 0.25s ease;
  position: relative;

  &:hover,
  &:focus {
    background-color: rgba(201, 168, 108, 0.1);
    color: var(--theme-color);
  }
}



