.btn {
    color: var(--theme-color);
    padding: 0.75em 1em;
    text-decoration: none;
    border: 1px solid var(--theme-color);
    border-radius: 4px;
    background-color: transparent;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    font-size: var(--tsm);
    outline: none;
    cursor: pointer; // Ensure cursor pointer is consistent
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; // Space between icon and text
  
    &:hover,
    &:focus {
      background-color: var(--lightest-navy);
      box-shadow: 0 0 10px var(--theme-color); // Optional: Add glow effect on hover if desired
    }
  }
  

  