.contact {
  max-width: 700px;
  margin: 12rem auto;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .contact-title {
    color: var(--theme-color);
    font-size: var(--tbase);
    font-family: var(--code-font);
    font-weight: 500;
    margin-bottom: 1rem;

    &::before {
      counter-increment: title;
      content: "0" counter(title) ".";
      margin-right: 0.5rem;
      color: var(--theme-color);
    }
  }

  .contact-sub-title {
    font-size: var(--tgiant);
    font-family: var(--display-font);
    color: var(--light-slate);
    font-weight: 600;
  }

  .contact-text {
    color: var(--slate);
    font-size: var(--tlarge);
    line-height: 1.6rem;
    font-weight: 400;
    font-family: var(--body-font);
    text-align: center;
  }

  .contact-cta {
    margin-top: 1rem;

    .btn {
      padding: 1rem 2rem;
    }
  }

  @media screen and (max-width: 768px) {
    margin: 6rem auto;
  }

  @media screen and (max-width: 480px) {
    margin: 4rem auto;
    padding: 0 1rem;
  }
}
