.hero {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  justify-content: center;
  min-height: 60vh;
  &-title {
    color: var(--theme-color);
    font-size: var(--tsm2);
    font-family: var(--fira-code);
  }
  &-title-large {
    font-size: var(--tgiant);
    font-family: var(--raleway);
    color: var(--light-slate);
  }
  &-title-sub {
    color: var(--lightest-slate);
  }
  &-text {
    color: var(--slate);
    margin-right: 40%;
    font-size: var(--tlarge);
    letter-spacing: 0.07rem;
    line-height: 1.6rem;
    font-weight: 600;
    font-family: var(--raleway);
  }
  &-button {
    margin-top: 2rem;
    .btn {
      padding: 1rem 2rem;
      font-size: var(--tsm1);
    }
  }
  @media screen and (max-width: 768px) {
    &-text {
      width: 90%;
    }
  }
}
.hero-button {
  display: flex;
  align-items: center; /* Center buttons vertically */
  gap: 20px; /* Adjust gap between buttons */
  margin-top: 2rem;
}

.btn {
  background-color: #0D1117; /* Dark background */
  color: #58a6ff; /* Bright text color */
  border: 1px solid #58a6ff; /* Border color */
  padding: 10px 20px; /* Padding around the text */
  font-size: 16px; /* Text size */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  outline: none; /* No outline */
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background-color: #161B22; /* Slightly lighter background on hover */
  box-shadow: 0 0 8px #58a6ff; /* Glowing effect */
}






